.range {
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: tomato;
    height: 5px;
  }

  &::-moz-range-track {
    background: tomato;
    height: 5px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -5px;
    border-radius: 50%;
    cursor: grab;
  }

  &::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -5px;
    border-radius: 50%;
  }
}