@import "./src/styles/variables";

.themeCheck {
    margin-bottom: 20px;
    padding: 15px;

    border-radius: 5px;
    box-shadow: $box-shadow;

    color: $color-white;
    background-color: $color-primary;
}