.checkboxLabel {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}