$color-black: #252525;
$color-grey-high: #3b3b3b;
$color-grey-mid: #585858;
$color-grey-low: #dddddd;
$color-white: #ececec;
$color-primary: #e7116e;
$color-primary-an1: #ee2c24;
$color-primary-an2: #f05523;
$color-secondary: #8fd6e5;

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-size-global: 16px;

$box-shadow: 2px 2px 5px rgba(0,0,0,0.5);