@import "src/styles/variables";

@mixin buttonGeneral {
  border: none;
  cursor: pointer;
  box-shadow: $box-shadow;
  background-color: $color-grey-low;
}

@mixin buttonShapeRegular {
  padding: .5rem 1rem;
  border-radius: 5px;
}

@mixin buttonHover {
  background-color: $color-primary;
}

.btn {
  @include buttonGeneral;
  @include buttonShapeRegular;

  &:hover {
    @include buttonHover;
    color: $color-white;
  }

  &Red {
    background-color: $color-primary-an1;
    color: $color-white;

    &:hover {
      background-color: $color-black;
      color: $color-grey-low;
    }
  }

  &Close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 30px;

    &:hover {
      & > svg{
        fill: $color-white;
      }
    }
  }
}