@import "./src/styles/variables";

.response {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  padding: 5px;

  height: $font-size-global;

  border: $color-primary solid 1px;
}

.button {
  margin-bottom: 20px;
}