@import "../../styles/variables";
@import "../../shared/components/styled/Subtitle/Subtitle.module";

.affairs {
  width: 300px;
}

.affair {
  //background-color: $color-grey-low;
  padding: .5rem .6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: $box-shadow-bottom;

  border-bottom: 1px solid $color-grey-mid;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.priority {
  padding-right: 10px;
  color: $color-grey-mid;
}

.filterWrapper {
  display: flex;
  justify-content: space-between;
}

.closeIcon {
  width: 10px;
  height: 10px;
  fill: $color-black;
}