@import "src/styles/variables";
@import "src/styles/btn.module";
@import "src/styles/subTitle.module";
@import "src/styles/input.module";

.superInput {
    background: rebeccapurple;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}