@import "./src/styles/variables";

.select {
  display:flex;
  flex-direction: column;

  position:relative;

  width:250px;
  height:40px;
  outline: none;

  box-shadow: $box-shadow;
  cursor: pointer;
}

.option {
  display:flex;
  align-items:center;

  box-sizing:border-box;
  position:absolute;
  top:0;
  z-index:1;

  width: 100%;

  padding:0 30px 0 10px;

  min-height:40px;

  background:$color-grey-low;
  color: $color-black;
  border: none;
  border-top:$color-primary solid 1px;

  pointer-events:none;
  order:2;
  transition:background .4s ease-in-out;
  overflow:hidden;
  white-space:nowrap;
  cursor: pointer;
}

.option:hover {
  color: $color-white;
  background: $color-primary;


}

.select:focus {
  box-shadow: none;

  & .option {
    position:relative;

    pointer-events:all;
    box-shadow: $box-shadow;
  }
}

.input {
  position:absolute;
  left:-99999px;

  opacity:0;
}

.input:checked + label {
  order: 1;
  position:relative;
  z-index:2;

  background: $color-white;
  border-top:none;
}

.input:checked + label:after {
  content:'';

  position:absolute;
  right:15px;
  top:calc(50% - 2.5px);
  z-index:3;

  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  pointer-events:none;
}

.input:checked + label:before {
  content: '';

  position:absolute;
  right:0;

  height: 40px;
  width: 40px;

  background: $color-primary;
}