@import "../../styles-shared/variables";
@import "../../styles-shared/btn.module";
@import "../../styles-shared/subTitle.module";
@import "../../styles-shared/input.module";

.superInput {
    background: rebeccapurple;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}