@import "src/styles/variables";
@import "src/styles/btn.module";
@import "src/styles/subTitle.module";
@import "src/styles/input.module";

.greetingContainer {
    display: flex;
    align-items: center;
}

.marginLeft1 {
    margin-left: 1rem;
}

.paddingTop1 {
    padding-top: 1rem;
}