@import "../../shared/global-styles/variables";
@import "../../shared/components/styled/Subtitle/Subtitle.module";

.greetingContainer {
    display: flex;
    align-items: start;
}

.marginLeft1 {
    margin-left: 1rem;
}

.paddingTop1 {
    padding-top: 1rem;
}